<div id="login-page">
    
    <div class="login-box">
        <img src="assets/img/ITC_icon_login.png" alt="ITC">
        <h1>Sign In</h1>
        <form id="form-login">
            
            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Username" autocomplete="off"/>

            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Password">

            <input type="submit" value="Sign In">

            <a href="#">Sign Up</a>
            <br/>
            <a routerLink="/diagram" routerLinkActive="active" >Continue without log in</a>

        </form>
    </div>
    

</div>
