<div id="signup-page">
    
    <div class="signup-box">
        <img src="assets/img/ITC_icon_login.png" alt="ITC">
        <h1>Sign Up</h1>
        <form id="form-signup">
            
            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Username" autocomplete="off"/>

            <label for="password">Password</label>
            <input name="password" type="password" placeholder="Password">

            <label for="repeatPassword">Repeat password</label>
            <input name="repeatPassword" type="password" placeholder="Password">

            <input type="submit" value="Sign Up">

            <div id="error-message-auth"></div>

            <a routerLink="/login" routerLinkActive="active">Sign in</a>
            <br/>
            <a routerLink="/diagram-editor" routerLinkActive="active" >Continue without log in</a>
        </form>
    </div>
    

</div>
