#diagram-component {
    position: relative;
    width: 100%;
    height: 100%;
}

#graphContainer {
    position: absolute;
    width: 100%;
    height: calc(100% - 20px);
    overflow: scroll;
    background-image: linear-gradient(#CCCFD5  .1em, transparent .1em), linear-gradient(90deg, #CCCFD5  .1em, transparent .1em);
    background-size: 3em 3em;
}

#toolbar {
    position: absolute;
    width: 34px;
    padding: 4px 4px 4px 4px;
    left: 20px;
    top: 22px;
    background-color: #DEDEDE;
    border-radius: 5px;
    z-index: 10;
}

#toolbar img {
    width: 30px;
    cursor: pointer;
    margin: 2px 4px 4px 2px;
}

#button-test {
    position: relative;
    height: 20px;
}

#container-buttons-down {
    position: absolute;
    top: calc(100% - 20px);
    width: 100%;
    background-color: #EDEEEE;
}

.button-down {
    border-radius: 2px;
    background-color: #B1C6F1 ;
}

#popup {
    background-color: #F5F5F5;
    overflow: hidden;

    min-width: 300px;
    min-height: 300px;
    
    position: absolute;
    right: 30px;
    top: 10px;
    border-radius: 2px;
    border-style: inset;

    display: none;

    padding-bottom: 20px;
}

#popup input {
    width: calc(100% - 60px);
    margin: 5px 30px;
}

#popup strong {
    margin: 0px 30px;
    text-transform: capitalize;
}

#popup div {
    margin-top: 20px;
}

.hidden {
    display: none;
}

