<div id="diagram-component">

   <div #graphContainer id="graphContainer"></div>

   <div #toolbar id="toolbar"></div>

    <div id="popup"></div>

    <div id="container-buttons-down">
        <button class="button-down" id="button-test" (click)="onSaveLocalXMLButtonClick()">
            Save diagram in local
        </button>
        <button class="button-down button-down-id" (click)="onSaveCloudButton()">
            Save diagram in cloud
        </button>
        <button class="button-down button-down-id" (click)="onDeleteCloudButton()">
            Delete Diagram from cloud
        </button>
        <button class="button-down button-down-id" (click)="onAddCollaboration()">
            Add Collaboration
        </button>
    </div>

    
    <div id="myModal" class="modal">

        
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="local-save-form">
                <label for="nameFile">Insert file name:</label>
                <input name="nameFile" type="text" placeholder="File name"/>
                <input type="submit" value="Save">
            </form>
        </div>

    </div>

    <div id="myModal2" class="modal">

        
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="add-collaboration-form">
                <label for="nameCollaboration">Insert collaboration name:</label>
                <input name="nameCollaboration" type="text" placeholder="Name Collaboration"/>
                <input type="submit" value="Save">
            </form>
        </div>

    </div>

    <img id="arrow-back" src="assets/img/arrow-back.png" alt="arrow-back" (click)="onBackPage()">

    <div id="successful-message"></div>
    <div id="error-message"></div>
    
</div>