<div id="diagram-component">

   <div #graphContainer id="graphContainer"></div>

   <div #toolbar id="toolbar"></div>

    <div id="popup"></div>

    <div id="container-buttons-down">
        <button class="button-down" id="button-test" (click)="onSaveLocalXMLButtonClick()">
            Save file XML
        </button>
    </div>

    
    <div id="myModal" class="modal">

        
        <div class="modal-content">
            <span class="close">&times;</span>
            <form>
                <label for="nameFile">Insert file name</label>
                <input name="nameFile" type="text" placeholder="File name"/>
            </form>
        </div>

    </div>

    <div id="error-message"></div>
</div>