.line-image {
    width: 100%;
}

.hover-start {
    font-family: 'Bebas Neue', cursive;
    width:min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
    text-align: center;
    font-size: 10rem;
    cursor: pointer;
    color: #4c4c4c;
    transition: font-size 2s, color 2s;
}

.hover-start:hover {
    font-size: 12rem;
    color: #131313;
}

.logo {
    height: 180px;
    width: auto;
}