<div id="home-page">
    <h1>Diagram Editor</h1>

    <img class="center" src="assets/img/itc-logo-home.jpg" alt="logo ITC"/>

    <button id="button-start" class="center" (click)="onStartButton()">Start</button>
    
    <div class="wrapper">
        <div class="one">
                <img  src="assets/img/user-diagram-example.png" alt="example user diagram"/>
        </div>
        <div class="two">
                <img  src="assets/img/diagram-example.png" alt="example user diagram"/>
        </div>
    </div>

</div>